USE [pangya]
GO
/****** Objeto:  Table [pangya].[account]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[account](
	[ID] [varchar](25) NOT NULL,
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[PASSWORD] [varchar](33) NOT NULL,
	[IDState] [bigint] NOT NULL,
	[LastLogonTime] [datetime2](0) NULL,
	[BlockTime] [int] NOT NULL,
	[Logon] [smallint] NOT NULL,
	[FIRST_LOGIN] [smallint] NOT NULL,
	[RegDate] [datetime2](0) NULL,
	[NICK] [nvarchar](50) NOT NULL,
	[FIRST_SET] [smallint] NOT NULL,
	[Guild_UID] [int] NOT NULL,
	[Sex] [smallint] NOT NULL,
	[doTutorial] [smallint] NOT NULL,
	[NomeCompleto] [varchar](50) NULL,
	[BirthDay] [datetime] NULL,
	[UserName] [varchar](23) NULL,
	[UserIp] [varchar](20) NULL,
	[ServerID] [varchar](20) NULL,
	[game_server_id] [varchar](20) NULL,
	[LastLeaveTime] [datetime2](0) NULL,
	[LogonCount] [bigint] NOT NULL,
	[BlockRegDate] [datetime2](0) NULL,
	[School] [int] NOT NULL,
	[capability] [int] NOT NULL,
	[Event] [smallint] NOT NULL,
	[MannerFlag] [smallint] NOT NULL,
	[Event1] [smallint] NOT NULL,
	[Event2] [int] NOT NULL,
	[domainid] [int] NOT NULL,
	[ChannelFlag] [smallint] NOT NULL,
	[change_nick] [datetime2](0) NULL,
	[Question] [varchar](50) NULL,
	[Answer] [varchar](50) NULL,
	[MacAddress] [nvarchar](50) NULL,
	[Invited] [bit] NULL,
	[Inviter_UID] [int] NULL,
 CONSTRAINT [PK_account_UID] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_account] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_caddie_information]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_caddie_information](
	[item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[typeid] [int] NOT NULL,
	[parts_typeid] [int] NOT NULL,
	[gift_flag] [smallint] NOT NULL,
	[cLevel] [smallint] NOT NULL,
	[Exp] [int] NOT NULL,
	[RegDate] [datetime2](0) NOT NULL,
	[Period] [smallint] NOT NULL,
	[EndDate] [datetime2](0) NULL,
	[RentFlag] [smallint] NOT NULL,
	[Purchase] [smallint] NOT NULL,
	[parts_EndDate] [datetime2](0) NULL,
	[CheckEnd] [smallint] NOT NULL,
	[Valid] [smallint] NOT NULL,
 CONSTRAINT [PK_pangya_caddie_information_item_id] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_card]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_card](
	[card_itemid] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[card_typeid] [int] NOT NULL,
	[QNTD] [int] NULL,
	[GET_DT] [datetime2](0) NULL,
	[USE_DT] [datetime2](0) NULL,
	[END_DT] [datetime2](0) NULL,
	[Slot] [int] NOT NULL,
	[Efeito] [int] NOT NULL,
	[Efeito_Qntd] [int] NOT NULL,
	[card_type] [smallint] NOT NULL,
	[USE_YN] [char](1) NULL,
 CONSTRAINT [PK_pangya_card_card_itemid] PRIMARY KEY CLUSTERED 
(
	[card_itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_card_equip]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_card_equip](
	[index] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[parts_id] [int] NOT NULL,
	[parts_typeid] [int] NOT NULL,
	[card_typeid] [int] NOT NULL,
	[Efeito] [int] NOT NULL,
	[Efeito_Qntd] [int] NOT NULL,
	[Slot] [int] NOT NULL,
	[USE_DT] [datetime2](0) NULL,
	[END_DT] [datetime2](0) NULL,
	[Tipo] [int] NOT NULL,
	[USE_YN] [smallint] NOT NULL,
	[date] [datetime2](7) NOT NULL,
 CONSTRAINT [IX_pangya_card_equip] UNIQUE NONCLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_character_information]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_character_information](
	[item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[typeid] [int] NOT NULL,
	[UID] [int] NOT NULL,
	[parts_1] [int] NOT NULL,
	[parts_2] [int] NOT NULL,
	[parts_3] [int] NOT NULL,
	[parts_4] [int] NOT NULL,
	[parts_5] [int] NOT NULL,
	[parts_6] [int] NOT NULL,
	[parts_7] [int] NOT NULL,
	[parts_8] [int] NOT NULL,
	[parts_9] [int] NOT NULL,
	[parts_10] [int] NOT NULL,
	[parts_11] [int] NOT NULL,
	[parts_12] [int] NOT NULL,
	[parts_13] [int] NOT NULL,
	[parts_14] [int] NOT NULL,
	[parts_15] [int] NOT NULL,
	[parts_16] [int] NOT NULL,
	[parts_17] [int] NOT NULL,
	[parts_18] [int] NOT NULL,
	[parts_19] [int] NOT NULL,
	[parts_20] [int] NOT NULL,
	[parts_21] [int] NOT NULL,
	[parts_22] [int] NOT NULL,
	[parts_23] [int] NOT NULL,
	[parts_24] [int] NOT NULL,
	[default_hair] [smallint] NOT NULL,
	[default_shirts] [smallint] NOT NULL,
	[gift_flag] [smallint] NOT NULL,
	[PCL0] [smallint] NOT NULL,
	[PCL1] [smallint] NOT NULL,
	[PCL2] [smallint] NOT NULL,
	[PCL3] [smallint] NOT NULL,
	[PCL4] [smallint] NOT NULL,
	[Purchase] [smallint] NOT NULL,
	[auxparts_1] [int] NOT NULL,
	[auxparts_2] [int] NOT NULL,
	[auxparts_3] [int] NOT NULL,
	[auxparts_4] [int] NOT NULL,
	[auxparts_5] [int] NOT NULL,
	[CutIn_1] [int] NOT NULL,
	[CutIn_2] [int] NOT NULL,
	[CutIn_3] [int] NOT NULL,
	[CutIn_4] [int] NOT NULL,
	[Mastery] [int] NOT NULL,
 CONSTRAINT [PK_pangya.pangya_character_information] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_friend_list]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_friend_list](
	[uid] [int] NOT NULL,
	[uid_friend] [int] NOT NULL,
	[apelido] [varchar](15) NOT NULL,
	[unknown1] [int] NOT NULL,
	[unknown2] [int] NOT NULL,
	[unknown3] [int] NOT NULL,
	[unknown4] [int] NOT NULL,
	[unknown5] [int] NOT NULL,
	[unknown6] [int] NOT NULL,
	[flag1] [smallint] NOT NULL,
	[state_flag] [tinyint] NOT NULL,
	[flag5] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_gift_table]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_gift_table](
	[UID] [int] NOT NULL,
	[Msg_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Flag] [smallint] NOT NULL,
	[fromid] [varchar](30) NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[giftdate] [datetime2](0) NOT NULL,
	[enddate] [datetime2](0) NULL,
	[Contador_Vista] [int] NOT NULL,
	[Lida_YN] [smallint] NOT NULL,
	[valid] [smallint] NOT NULL,
 CONSTRAINT [PK_pangya_gift_table_Msg_ID] PRIMARY KEY CLUSTERED 
(
	[Msg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_item_mail]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_item_mail](
	[Msg_ID] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[item_typeid] [int] NOT NULL,
	[Flag] [smallint] NOT NULL,
	[GET_DATE] [datetime2](0) NULL,
	[Quantidade_item] [int] NOT NULL,
	[Quantidade_Dia] [int] NOT NULL,
	[Pang] [bigint] NOT NULL,
	[Cookie] [bigint] NOT NULL,
	[GM_ID] [int] NOT NULL,
	[Flag_Gift] [int] NOT NULL,
	[UCC_IMG_MARK] [varchar](12) NOT NULL,
	[Type] [smallint] NOT NULL,
	[valid] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_item_warehouse]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_item_warehouse](
	[item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[typeid] [int] NOT NULL,
	[valid] [smallint] NOT NULL,
	[regdate] [datetime2](0) NULL,
	[Gift_flag] [smallint] NOT NULL,
	[flag] [smallint] NOT NULL,
	[Applytime] [datetime2](0) NULL,
	[EndDate] [datetime2](0) NULL,
	[C0] [smallint] NOT NULL,
	[C1] [smallint] NOT NULL,
	[C2] [smallint] NOT NULL,
	[C3] [smallint] NOT NULL,
	[C4] [smallint] NOT NULL,
	[Purchase] [smallint] NOT NULL,
	[ItemType] [smallint] NOT NULL,
	[ClubSet_WorkShop_Flag] [smallint] NOT NULL,
	[ClubSet_WorkShop_C0] [smallint] NOT NULL,
	[ClubSet_WorkShop_C1] [smallint] NOT NULL,
	[ClubSet_WorkShop_C2] [smallint] NOT NULL,
	[ClubSet_WorkShop_C3] [smallint] NOT NULL,
	[ClubSet_WorkShop_C4] [smallint] NOT NULL,
	[Mastery_Pts] [int] NOT NULL,
	[Recovery_Pts] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Up] [int] NOT NULL,
	[Total_Mastery_Pts] [bigint] NOT NULL,
	[Mastery_Gasto] [int] NOT NULL,
 CONSTRAINT [PK_pangya_item_warehouse_item_id] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[pangya_mascot_info]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[pangya_mascot_info](
	[item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[typeid] [int] NOT NULL,
	[mLevel] [smallint] NOT NULL,
	[mExp] [int] NOT NULL,
	[Flag] [smallint] NOT NULL,
	[Tipo] [smallint] NOT NULL,
	[RegDate] [datetime2](0) NOT NULL,
	[Period] [smallint] NOT NULL,
	[EndDate] [datetime2](0) NULL,
	[Message] [varchar](30) NOT NULL,
	[IsCash] [smallint] NOT NULL,
	[Price] [int] NOT NULL,
	[Valid] [smallint] NOT NULL,
 CONSTRAINT [PK_pangya_mascot_info_item_id] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [pangya].[user_info]    Data do Script: 08/08/2026 10:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pangya].[user_info](
	[UID] [bigint] NOT NULL,
	[Tacadas] [bigint] NOT NULL,
	[Putt] [bigint] NOT NULL,
	[Tempo] [bigint] NOT NULL,
	[Tempo tacadas] [bigint] NOT NULL,
	[Max_distancia] [real] NOT NULL,
	[Acerto_pangya] [bigint] NOT NULL,
	[Bunker] [int] NOT NULL,
	[O.B] [bigint] NOT NULL,
	[Total_distancia] [bigint] NOT NULL,
	[Holes] [bigint] NOT NULL,
	[Holein] [int] NOT NULL,
	[HIO] [bigint] NOT NULL,
	[Timeout] [smallint] NOT NULL,
	[Fairway] [bigint] NOT NULL,
	[Albatross] [bigint] NOT NULL,
	[MaConduta] [int] NOT NULL,
	[Acerto_Putt] [bigint] NOT NULL,
	[Long-putt] [real] NOT NULL,
	[Chip-in] [real] NOT NULL,
	[Xp] [bigint] NOT NULL,
	[level] [tinyint] NOT NULL,
	[Pang] [bigint] NOT NULL,
	[Media_score] [int] NOT NULL,
	[BestScore0] [smallint] NOT NULL,
	[BestScore1] [smallint] NOT NULL,
	[BestScore2] [smallint] NOT NULL,
	[BestScore3] [smallint] NOT NULL,
	[BestScore4] [smallint] NOT NULL,
	[MaxPang0] [bigint] NOT NULL,
	[maxPang1] [bigint] NOT NULL,
	[maxPang2] [bigint] NOT NULL,
	[maxPang3] [bigint] NOT NULL,
	[maxPang4] [bigint] NOT NULL,
	[SumPang] [bigint] NOT NULL,
	[EventFlag] [smallint] NOT NULL,
	[Jogado] [bigint] NOT NULL,
	[Quitado] [bigint] NOT NULL,
	[SkinPang] [bigint] NOT NULL,
	[SkinWin] [int] NOT NULL,
	[SkinLose] [int] NOT NULL,
	[SkinRunHole] [int] NOT NULL,
	[SkinStrikePoint] [int] NOT NULL,
	[SkinAllinCount] [int] NOT NULL,
	[Todos_combos] [bigint] NOT NULL,
	[Combos] [bigint] NOT NULL,
	[TeamWin] [int] NOT NULL,
	[TeamGames] [int] NOT NULL,
	[Teamhole] [bigint] NOT NULL,
	[LadderPoint] [int] NOT NULL,
	[LadderWin] [int] NOT NULL,
	[LadderLose] [int] NOT NULL,
	[LadderDraw] [int] NOT NULL,
	[LadderHole] [int] NOT NULL,
	[EventValue] [smallint] NOT NULL,
	[NaoSei] [int] NOT NULL,
	[MaxJogoNaoSei] [int] NOT NULL,
	[JogosNaoSei] [int] NOT NULL,
	[GameCountSeason] [int] NOT NULL,
	[Cookie] [bigint] NOT NULL,
	[total_pang_win_game] [bigint] NOT NULL,
	[lucky_medal] [int] NOT NULL,
	[fast_medal] [int] NOT NULL,
	[best_drive_medal] [int] NOT NULL,
	[best_chipin_medal] [int] NOT NULL,
	[best_puttin_medal] [int] NOT NULL,
	[best_recovery_medal] [int] NOT NULL,
	[16bit_naosei] [smallint] NOT NULL,
 CONSTRAINT [PK_user_info_UID] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GO
